aiohttp==3.8.5
aiosignal==1.3.1
amqp==5.1.1
annotated-types==0.5.0
anyio==3.7.1
asgiref==3.7.2
astor==0.8.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
av==10.0.0
billiard==4.1.0
blinker==1.6.2
boto3==1.33.7
botocore==1.33.7
Brotli==1.1.0
cachetools==5.3.1
celery==5.3.4
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.2.0
cryptography==41.0.2
ctranslate2==3.21.0
cycler==0.12.1
dataclasses-json==0.6.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
dj-rest-auth==5.0.2
Django==4.2.3
django-allauth==0.58.2
django-cors-headers==4.2.0
django-debug-toolbar==4.1.0
django-filter==23.4
django-rest-auth==0.9.5
django-rq==2.9.0
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djoser==2.2.0
dnspython==2.4.2
drf-spectacular==0.26.5
duckdb==0.9.2
einops==0.7.0
email-validator==2.0.0.post2
encodec==0.1.1
executing==2.0.1
Faker==19.13.0
faster-whisper==0.9.0
ffmpeg==1.4
ffprobe==0.5
filelock==3.12.2
Flask==3.0.2
Flask-Cors==4.0.0
flask-mongoengine==1.0.0
Flask-WTF==1.1.1
flatbuffers==23.5.26
fonttools==4.49.0
frozenlist==1.4.0
fsspec==2023.9.2
funcy==2.0
google-auth==2.23.0
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
inflection==0.5.1
ipython==8.22.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
kiwisolver==1.4.5
kombu==5.3.2
langchain==0.0.308
langsmith==0.0.42
lazy_loader==0.3
librosa==0.10.1
llvmlite==0.41.0
MarkupSafe==2.1.2
marshmallow==3.20.1
matplotlib==3.8.3
matplotlib-inline==0.1.6
mongoengine==0.27.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
mutagen==1.47.0
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
numba==0.58.0
numpy==1.24.4
oauthlib==3.2.2
onnxruntime==1.16.2
openai==0.28.1
packaging==23.1
pandas==1.5.3
pandasai==2.0.2
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
platformdirs==3.10.0
pooch==1.7.0
prompt-toolkit==3.0.43
protobuf==4.24.3
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodomex==3.19.0
pydantic==2.4.2
pydantic_core==2.10.1
pydub==0.25.1
Pygments==2.17.2
PyJWT==2.8.0
pymongo==4.5.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytube==15.0.0
pytz==2023.3
PyYAML==6.0.1
redis==5.0.1
referencing==0.31.0
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.13.1
rq==1.15.1
rsa==4.9
s3transfer==0.8.2
safetensors==0.3.3
scikit-learn==1.3.1
scipy==1.11.3
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
sniffio==1.3.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2
soundfile==0.12.1
soxr==0.3.7
SQLAlchemy==2.0.21
sqlparse==0.4.4
stack-data==0.6.3
suno-bark @ git+https://github.com/suno-ai/bark.git@773624d26db84278a55aacae9a16d7b25fbccab8
sympy==1.12
tenacity==8.2.3
threadpoolctl==3.2.0
tokenizers==0.14.0
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.0
tqdm==4.66.1
traitlets==5.14.1
transformers==4.34.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.4
vine==5.0.0
virtualenv==20.24.2
wcwidth==0.2.8
websockets==11.0.3
Werkzeug==3.0.1
WTForms==3.0.1
yarl==1.9.2
youtube-dl==2021.12.17
youtube-transcript-api==0.6.1
yt-dlp==2023.9.24
